@charset "utf-8";
html{
	font: 12px "宋体";
}
a{
	color: #000000;
}
.top{
	background-color: #F7F7F7;
	height: 26px;
	border-bottom: 1px solid #D8D8D8;
}
.top_page{
	width: 970px;
	height: 26px;
	margin: 0 auto;
}
.top_page_l{
	line-height: 26px;
}
.top_page_r ul li{
	float: left;
	padding-right: 10px;
	line-height: 26px;
	text-align: center;
	position: relative;/*把下拉单显示在正下方*/
}
.top_page_r ul li s{
	width: 12px;
	height: 10px;
	background: url(../img/sprite.gif);
	display: inline-block;
	vertical-align: middle;/*设置三角居中*/
}

.top_page_r ul li a{
	display: block;
	padding: 0 10px;
}
.top_page_r ul li a:hover{
    background-color: #0A84E3;
    text-decoration: none;
    color: white;
}
.logo{
	width: 970px;
	height: 98px;
	margin: 0 auto;
}
.logo_l{
	width: 200px;
	height: 55px;
	margin: 24px 0 19px 9px;
	background: url(../img/sprite.gif) -12px 1px;
	text-indent: -1000em;//用于搜索引擎查询
}
.logo_r{
	width: 530px;
	height: 42px;
	border: 1px solid #C9C9C9;
	margin-top: 29px;
}
.logo_r_content{
	margin: 5px 5px 5px 4px;
}
.logo_r_search{
	width: 418px;
	height: 28px;
	border-bottom: 1px solid #C9C9C9;
	color: #999999;
	background-color: #D8D8D8;
}
.logo_r_btn{
	width: 99px;
	height: 29px;
	color: white;
	background-color: #2F70D0;
}
.nav{
	width: 970px;
	height: 25px;
	margin: 0 auto;
	border-bottom: 2px solid #0266A3;
}
.nav li{
	padding: 0 15px 0 15px;
	line-height: 25px;/*设置行高*/
	float: left;
	font-size: 14px;
	font-weight: bold;
}
.nav a{
	color: #0266A3;
}
.nav li:hover{
	background-color: #0266A3;
}
.nav li:hover a{
	color: white;
	text-decoration: none;
}
.banner{
	width: 970px;
	height: 210px;
	margin: 0 auto;
	margin-top: 10px;
}
.subNav{
	width: 200px;
	height: 210px;
	margin-right: 11px;
	float: left;
	background-color: #EBF0F6;
}
.ad{
	width: 520px;
	height: 210px;
	float: left;
	background-color: #bfa;
}
.message{
	width: 230px;
	height: 210px;
	float: right;
}
.subNav h2{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #0266A3;
	padding-left: 20px;
}
.subNav s{
	display: inline-block;
	width: 15px;
	height: 13px;
	background: url(../img/sprite.gif) -215px 0;
	vertical-align: middle;
	padding-right: 15px;
}

.subNav li{
	font-size: 15px;
	padding-top:11px ;
	margin-left: 9px;
}
.message_top{
	height: 95px;
	border: 1px solid#dddddd;
	background-color: #F7FAFF;
}
.message_top s{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/sprite.gif) -250px 0;
	margin: 20px 0 0 10px;
}
.message_top .message_top_top{
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
}
.message_top .message_top_bottom{
    margin-top: 25px;
}
.message_bottom{
	height: 92px;
	margin-top: 21px;
	background-color: #F7F7F7;
}
.message_bottom .message_bottom_font{
    text-align: center;
    font-size: 14px;
    padding-top: 11px;
}
.message_bottom s{
	width: 14px;
	height: 17px;
	display: inline-block;
	background: url(../img/sprite.gif) -295px 0;
	vertical-align: middle;
}
.message_bottom .phone{
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: #3F9CE0;
}
.message_bottom .button{
	width: 81px;
	height: 23px;
	background: url(../img/sprite.gif) -315px 0;
	margin-top: 6px;
	margin-left: 75px;
}
.material{
	width: 950px;
	height: 34px;
	margin: 0 auto;
	border-top: 2px solid #C3D7E4;
	margin-top: 14px;
	line-height: 34px;
	background-color: #ECF1F7;
	font-weight: bold;
	padding-left: 20px;
}
/*建筑材料产品*/
.product{
	width: 970px;
	height: 345px;
	margin: 0 auto;
	margin-top: 12px;
}
.product .product_l{
	width: 727px;
	height: 343px;
	border: 1px solid #D8D8D8;
}
.product .product_l_top{
	width: 701px;
	height: 151px;
	padding: 17px 0 0 26px;
}
.product .product_l_bottom{
	width: 701px;
	height: 151px;
	padding: 17px 0 0 26px;
}
/*晾衣架*/
.product_l .product_l_top .product_l_top_l{
	width: 350px;
	height: 146px;
}
.product .buy{
	width: 99px;
	height: 143px;
}
.product .buy .img{
	width: 97px;
	height: 100px;
	border: 1px solid #CACACA;
}
.product_l .product_l_top .product_l_top_l .buy .img s{
	width: 90px;
	height: 63px;
	display: inline-block;
	background: url(../img/sprite.gif) 0 -60px;
	margin: 10px 4px 0 3px;
}
.product .button{
	width: 99px;
	height: 26px;
	background-color: #0A84E3;
	color: white;
	margin-top: 15px;
}
.product .explain{
	width: 250px;
	height: 143px;
}
.product .explain .good{
	font-size: 14px;
	padding: 10px 0 0 10px;
}
.product .explain .center{
	color: #863E01;
	padding: 14px 0 0 15px;
}
.product .explain .center{
	color: #863E01;
	padding: 14px 0 0 15px;
}
.product .explain .money_l{
	font-size: 18px;
	font-weight: bold;
	color: red;
	padding: 17px 0 0 11px;
}
.product .explain .money_r{
	color: #99999;
	padding: 20px 0 0 25px;
}
.product .explain .bottom{
	color: #99999;
	padding: 22px 0 0 10px;
	clear: left;
}
.product .explain .bottom b{
	color: red;
	font-weight: normal;
}
/*木地板*/
.product_l .product_l_top .product_l_top_r{
    width: 350px;
    height: 146px;
}
.product_l .product_l_top .product_l_top_r .buy .img s{
	width: 90px;
	height: 80px;
	display: inline-block;
	background: url(../img/sprite.gif) -100px -60px;
	margin: 10px 4px 0 3px;
}
/*产品划分线*/
.product .product_l .product_l_line{
    height: 1px;
    margin: 8px 4px 0 4px;
    background-color: #999999;
    clear: both;
}
/*好益达*/
.product_l .product_l_bottom .product_l_bottom_l{
    width: 350px;
    height: 146px;
}
.product_l .product_l_bottom .product_l_bottom_l .buy .img s{
	width: 90px;
	height: 80px;
	display: inline-block;
	background: url(../img/sprite.gif) -205px -60px;
	margin: 10px 4px 0 3px;
}
/*晾衣架2*/
.product_l .product_l_bottom .product_l_bottom_r{
    width: 350px;
    height: 146px;
}
.product_l .product_l_bottom .product_l_bottom_r .buy .img s{
	width: 90px;
	height: 80px;
	display: inline-block;
	background: url(../img/sprite.gif) -305px -60px;
	margin: 10px 4px 0 3px;
}
/*建材咨讯*/
.product .product_r{
	width: 230px;
	height: 343px;
	border: 1px solid #E0E6F0;
}

.product .product_r h2{
	height: 28px;
	line-height: 28PX;
	font-size: 15px;
	padding-left: 15px;
	border-bottom: 1px solid #E0E6F0;
}
.product .product_r ul{
	padding-top: 11px;
	padding-left: 26px;
}
.product .product_r ul li{
	line-height: 23px;
	list-style-type: disc;
}

/*儿童安全座椅*/
.child{
    width: 970px;
    height: 310px;
    margin: 0 auto;
    margin-top: 12px;
}
.child .product{
	width: 725px;
	height: 308px;
	border: 1px solid #C9C9C9;
	margin: 0;
}
.child .product .product_ad{
	width: 165px;
	height: 308px;
	float: left;
	margin-left: 9px;
	padding: 8px 0 0 5px;
}
.child .product .product_ad .img1{
	width: 160px;
	height: 174px;
	background: url(../img/sprite.gif) 0 -144px;
	display: inline-block;
}
.child .product .product_ad .font{
	margin-left: 15px;
	color: #000000;
	line-height: 20px;
}
.child .product .product_ad p{
    text-align: center;
    color:#999999;
    line-height: 25px;
}
.child .product .product_ad p b{
    color: red;
    font-size: 15px;
}
.child .product .product_ad .img2{
    width: 160px;
    height: 174px;
    background: url(../img/sprite.gif) -168px -144px;
    display: inline-block;
}
.child .product .product_ad .img3{
    width: 160px;
    height: 174px;
    background: url(../img/sprite.gif) -336px -144px;
    display: inline-block;
}
.child .inf{
	width: 220px;
	height: 310px;
}
.child .inf s{
	width: 226px;
	height: 312px;
	background: url(../img/sprite.gif) 0 -340px;
	display: inline-block;
}
/*工艺美术品*/
.product .product_ad{
	width: 223px;
	height: 340px;
}
.product .product_ad h2{
	width: 213px;
	height: 28px;
	line-height: 28PX;
	font-size: 15px;
	padding-left: 10px;
	margin-top: 6px;
	background-color: #F8F8F8;
	border-style: none;
}
.product .product_ad .line{
	width: 223px;
	height: 3px;
	margin-top: 2px;
	background-color: #f1f1f1;
}
.product .product_ad .bottom .img{
	width: 102px;
	height: 78px;
	margin-top: 13px;
	background: url(../img/sprite.gif) -230px -342px;
}
.product .product_ad .bottom .font{
	width: 110px;
	height: 90px;
	font-size: 10px;
	line-height: 22px;
	margin: 13px 0 0 8px;
	color: #a6a6a6;
}
.product .product_ad .bottom .font a{
	color: #a6a6a6;
}
.product .product_ad .bottom .bbs{
	width: 223px;
	height: 190px;
	margin-top: 10px;
}
.product .product_ad .bottom .bbs ul li{
    color: #a6a6a6;
}
.product .product_ad .bottom .bbs ul li a{
    line-height: 22px;
}
.link{
	width: 970px;
	height: 78px;
	margin: 0 auto;
	margin-top: 12px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 4px solid #DDDDDD;
	color: #999999;
	padding-top: 25px;
}
.link ul{
	margin: -16px 0 0 60px;
}
.link ul li{
    float: left;
    line-height: 20px;
    padding-right: 10px;
}
.link ul li a{
	color: #999999;
}
.about{
	width: 970px;
	height: 100px;
    margin: 0 auto;
    margin-top: 12px;
    font-weight: 100;
    line-height: 20px;
    border-top: 4px solid #0A84E3;
    color: #393939;
    text-align: center;
}
.about ul{
	margin-top: 15px;
	text-align: center;
}
.about ul li{
    display: inline;
}
.about a{
    color: #393939;
}